<div id="category-tabs">
        <button class="tab" data-category="science">Science</button>
        <button class="tab" data-category="business">Business</button>
        <button class="tab" data-category="entertainment">Entertainment</button>
        <button class="tab" data-category="general">General</button>
        <button class="tab" data-category="health">Health</button>
        <button class="tab" data-category="sports">Sports</button>
        <button class="tab" data-category="technology">Technology</button>
    </div>
    <h1>Select a Source Article</h1>

    <div id="results-container">
        <div id="articles"></div>
    </div>

    {{!-- <script id="article-template" type="text/x-handlebars-template">
        {{#each articles}}
        <div class="article">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <p>No description available.</p>
            <img src="{{urlToImage}}" alt="{{title}}">
            <p>No image available.</p>
        </div>
        {{/each}}
    </script> --}}

    <section class="game-section">
        <h2 class="line-title">Select Ghost Writer</h2>
        <div class="owl-carousel custom-carousel owl-theme">
            <div class="item active" style="background-image: url(/images/MaryShelly.jpg);">
                <div class="item-desc">
                    <h3>Mary Shelly</h3>
                    <p>(1797-1851) was a renowned English novelist, most famous for her novel "Frankenstein; or, The Modern Prometheus." Mary Shelley's creative genius and her groundbreaking work in the horror genre have left an indelible mark on literature, making her a significant figure in literary history.</p>
                </div>
            </div>
            <div class="item" style="background-image: url('./assets/CarlSagan.jpg');">
                <div class="item-desc">
                    <h3>Carl Sagan</h3>
                    <p>(1934-1996) was an influential American astronomer, astrophysicist, and science communicator known for popularizing complex scientific ideas for the general public. He hosted the acclaimed television series "Cosmos: A Personal Voyage" and authored bestselling books, inspiring many with his passion for science and the wonders of the universe.</p>
                </div>
            </div>
            <div class="item" style="background-image: url('./assets/DrSuess.jpg');">
                <div class="item-desc">
                    <h3>Dr. Seuss</h3>
                    <p>(1904-1991), was a beloved American author and illustrator known for his whimsical and imaginative children's books. He created iconic characters like the Cat in the Hat, the Grinch, and Horton the Elephant, captivating generations of young readers with his playful rhymes and colorful illustrations. Dr. Seuss's books, such as "Green Eggs and Ham" and "The Lorax," continue to be cherished classics.</p>
                </div>
            </div>
            <div class="item" style="background-image: url('./assets/MarkTwain.jpg);">
                <div class="item-desc">
                    <h3>Mark Twain</h3>
                    <p>(1835-1910), was a celebrated American writer and humorist. He is best known for his classic novels "The Adventures of Tom Sawyer" and "Adventures of Huckleberry Finn," which brilliantly depicted the innocence and adventures of childhood while addressing serious social issues like racism and moral hypocrisy. Twain's wit, satire, and keen observations of human nature have earned him a lasting place in American literature.</p>
                </div>
            </div>
            <div class="item" style="background-image: url('./assets/Lovecraft.jpg');">
                <div class="item-desc">
                    <h3>H.P. Lovecraft</h3>
                    <p>(1890-1937) was an American writer known for his significant contributions to the horror and weird fiction genres. He created the Cthulhu Mythos, a fictional universe filled with ancient cosmic deities and unimaginable horrors, which has since become a cornerstone of modern horror literature. Lovecraft's unique style and themes of cosmic dread and existential terror continue to influence writers, filmmakers, and artists.</p>
                </div>
            </div>
            <div class="item" style="background-image: url('./assets/Shakespeare.jpg');">
                <div class="item-desc">
                    <h3>William Shakespeare</h3>
                    <p>(1564-1616) was an English playwright, poet, and actor, widely regarded as one of the greatest writers in the English language and the world's preeminent dramatist. His works, including plays like "Romeo and Juliet," "Hamlet," "Macbeth," and "Othello," have had an enduring impact on literature, theater, and the arts. Shakespeare's ability to explore complex human emotions, intricate plots, and profound themes has solidified his legacy as an iconic figure.</p>
                </div>
            </div>
            <div class="item" style="background-image: url('./assets/JamesBaldwin1.jpg');">
                <div class="item-desc">
                    <h3>James Baldwin</h3>
                    <p>(1924-1987) was an American novelist, essayist, and civil rights activist, whose powerful writings explored the complexities of racial and social issues in the United States. Through works like "Go Tell It on the Mountain," "The Fire Next Time," and "Giovanni's Room," Baldwin fearlessly tackled themes of race, identity, sexuality, and the African-American experience, leaving a profound impact on American literature and contributing to the civil rights movement.</p>
                </div>
            </div>
            <div class="item" style="background-image: url('./assets/ShelSilverstein.jpg');">
                <div class="item-desc">
                    <h3>Shel Silverstein</h3>
                    <p>(1930-1999) was a versatile American writer, poet, and illustrator, best known for his beloved children's books. His whimsical and imaginative works, such as "Where the Sidewalk Ends" and "The Giving Tree," continue to enchant readers of all ages with their delightful blend of humor, profound themes, and clever illustrations. Shel Silverstein's creative genius has left a lasting impact on children's literature.</p>
                </div>
            </div>
            <div class="item" style="background-image: url('./assets/JaneAustin1.jpg');">
                <div class="item-desc">
                    <h3>Jane Austin</h3>
                    <p>(1775-1817)  was an English novelist known for her witty and insightful portrayals of the British gentry during the Regency era. Her notable works, such as "Pride and Prejudice," "Sense and Sensibility," and "Emma," explore themes of love, marriage, social class, and female independence. Austen's masterful storytelling and keen observations of human nature have made her one of the most beloved and influential writers in English literature.</p>
                </div>
            </div>
            <div class="item" style="background-image: url('./assets/HunterSThomson.jpg');">
                <div class="item-desc">
                    <h3>Hunter S. Thompson</h3>
                    <p>(1937-2005) was an American journalist and author, best known for pioneering the "Gonzo journalism" style, which blurred the lines between objective reporting and personal storytelling. Thompson's unique writing style and unapologetic approach to covering politics, culture, and society made him a countercultural icon and a significant figure in American literature and journalism.</p>
                </div>
            </div>
            <!-- Add more items here -->
        </div>

        <div class="btn-container">
            <a class="btn btn-generate">Generate</a>
        </div>
        <h3 id =preview-header>Preview:</h3>
        <div class="article-preview">
            <h1 class="article-title"></h1>
            <p class="article-description"></p>
            <p class="article-author"></p>
            <img class="article-image" src="">
            <div class="article-blog-post"></div>
            <p class="article-date"></p>
            <p class="article-category"></p>
          </div> 
          
          <div class="btn-container">
            <a class="btn btn-publish">Publish</a>
        </div>

    </section>

    <!-- Use the Handlebars library from a CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="/js/generator.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script>
        $(".custom-carousel").owlCarousel({
            autoWidth: true,
            loop: true,
            nav: true, // Enable navigation
            dots: true, // Disable dots
            navText: ["<span class='nav-btn prev-slide'></span>", "<span class='nav-btn next-slide'></span>"], // Custom navigation icons
        });

        $(document).ready(function () {
            $(".custom-carousel .item").click(function () {
                $(".custom-carousel .item").not($(this)).removeClass("active");
                $(this).toggleClass("active");
                author = $(this).find("h3").text();
                console.log(author);

            });
        });
    </script>

