<div class="container is-fluid">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter has-text-centered">
      <h1 class="title is-1">
        Welcome Back
      </h1>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input id="email" class="input" type="email" placeholder="Your Email" autocomplete="on">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input id="password" class="input" type="password" placeholder="Your Password">
        </div>
      </div>
      <input id="submit" type="submit" class="button is-normal is-dark is-rounded" value="Log In">
      <p>Or if you're new, <a onclick="location.replace('/signup')">sign up</a>!</p>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>