<div class="container is-fluid mt-6">
  <div class="columns pt-6">
    <div class="column is-half is-offset-one-quarter has-text-centered pt-6">
      <h1 class="title is-1 is-uppercase">
        W e l c o m e <br>
        B a c k
      </h1>
      <div class="field has-text-left">
        <label class="label has-text-grey has-text-weight-normal is-size-5">email</label>
        <div class="control">
          <input id="email" class="input" type="email" placeholder="Your Email" autocomplete="on">
        </div>
      </div>
      <div class="field has-text-left pb-2">
        <label class="label has-text-grey has-text-weight-normal is-size-5">password</label>
        <div class="control">
          <input id="password" class="input" type="password" placeholder="Your Password">
        </div>
      </div>
      <input id="submit" type="submit" class="button is-normal" value="Log In">
      <br>
      <p class="has-text-grey-dark pt-2">Or if you're new, <a onclick="location.replace('/signup')">sign up</a>!</p>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>