<!-- 
    MAIN PAGE

Admin privlages
    - view as user button (set preferences mannually?) => NOT MVP

Article view
    - website icon?
    - search bar
    - user icon? w/ logout and edit profile drop down? - not MVP
    - logout button
    - slide with - for you, business, entertainment, general, healt, science, sports, technology
    - sort by date created - newest on top (backend)
    - sidebar with staff favorites? - NOT MVP
    - list of articles within category (dynamically added based on category)
        - article name
        - author name
        - article description
        - image
        - tags

-->

<!-- display tag options and select -->

<div class="">
  {{#each articles as |article|}}
  <div class="">
    <h1>
        {{headline}}
    </h1>
    <h3>
        {{author}}
    </h3>
    <!-- author image -->
    <p>
        {{article}}
    </p>
    <p>
        {{tags}}
    </p>
  </div>
  {{/each}}
</div>