<div class="container is-fluid">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter has-text-centered">
      <h1 class="title is-1">
        Welcome
      </h1>
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input id="name" class="input" type="text" placeholder="Your Name" min="3" max="25" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input id="email" class="input" type="email" placeholder="Your Email" autocomplete="on" maxlength="50" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input id="password" class="input" type="password" placeholder="Your Password" min="8" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control">
          <input id="confirm-password" class="input" type="password" placeholder="Re-Enter Your Password" min="8" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Preferences</label>
        <div class="control">
          <input id="preferences" class="Text" type="text" placeholder="Tags">
        </div>
      </div>
      <input id="submit" type="submit" class="button is-normal is-dark is-rounded" value="Create Account">
      <p>Or <a onclick="location.replace('/login')">sign in</a> if you already have an account.</p>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>