<div class="container is-fluid  mt-6">
  <div class="columns">
  <div class="column is-half is-offset-one-quarter has-text-centered">
    <h3 class="title is-3 mb-0">
      Welcome to
    </h3>
    <h1 class="title is-1 mt-0">
      GhostWriter
    </h1>
    <h5 class="subtitle is-5">
      read today's news through the lens of history's favorite author
    </h5>
    <hr>
    <button class="button is-normal is-dark is-rounded" onclick="location.replace('/login')">Log in</button>
    <br>
    <p>Or if you're new, <a onclick="location.replace('/signup')">sign up</a>!</p>
  </div>
</div>
</div>